
{% extends 'regpage/Base_Start_Page.html' %}
{% block content %}
<div id = "divPinUp">
<h1>Registration</h1>
	<form>
		<p class="words">Name</p>
		<p class="fields"><input type = "textarea" name = "Name"></p>
		<p class="words">Second Name</p>
		<p class="fields"><input type = "textarea" name = "SecondName"></p>
		<p class="words">email</p>
		<p class="fields"><input type = "textarea" name = "email"></p>
		<p class="button"><a name="done" class="butstyle" onclick="alert('ss')" onselectstart = "return false" onmousedown = "return false">Done</a>
						<a name="cancel" class="butstyle" onselectstart = "return false" onmousedown = "return false" onclick="openPinUp('none')">Cancel</a></p>
	</form>
</div>
{% endblock content %}